body {
    margin: 0;
    background-image: url("images/castle.jpg");
    background-size: cover;
}

h1 {
    margin:0
} 

.top, .middle, .bottom {
    display:flex;
    justify-content: center;
    font-family: "Gulzar";
    font-size: 30px;
    align-items: center;
}

.top {
    background-color:darkblue;
    color: floralwhite;
    opacity: 0.7;
}

.middle {
    text-align: center;
    gap: 50px;
    font-weight: 700;
    justify-content: space-between;
}

.tuba-life, .your-life {
    margin: 0;
    color: black;
    padding: 0px 150px 0px 0px;
    align-self: center;
    font-size: 30px;
}

.your-life {
    color: floralwhite;
}


.knight {
    width: 720px;
    opacity: 0.9;
    flex-shrink: 0;
    padding: 0px 0px 0px 400px;
}

.action {
    text-align: center;
}

.move {
    color: white; 
    font-size:25px; 
    font-family:Gulzar;
    margin: 0;
}

.bottom {
    gap: 100px;
    background-color: antiquewhite;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
    padding:50px;
}


.icon {
    width:150px;
    opacity: 1;
    border: white 10px ridge;
    border-radius: 30px;
}

button {
    border-radius: 30px;
    padding: 0;
}